{% extends 'base.html.twig' %}

{% block title %}Eveil Kids | Page Error{% endblock %}

{% block body %}
<div class="container">
    <h1>Erreur 404 - Page non trouvée</h1>
    <p>Désolé, la page que vous recherchez semble introuvable.</p>
    <p>Retournez à la <a href="/home">page d'accueil</a>.</p>
</div>


{% endblock %}

