@import url('https://unpkg.com/css.gg@2.0.0/icons/css/shopping-cart.css');
*{
    margin : 0;
    padding: 0;
    outline: none;
    font-family: "Poppins" , sans-serif;
    
  
}


/* **********************--NAVBAR--*************************** */

.header {
    display: flex;
    background: #6ac4f0;
    /* background-color: #87CEEB; */
    color: #ffffff;            
  
    font-size: 18px;
    justify-content: space-evenly;
    align-items: center;
    text-align: center; 
    height: 150px;
    
}
.logo img{
    width: 100px;
    height: 100px;
    align-items: center;

}

/* .search{
    display: flex;
    font-size: 20px;
    color:white;
    text-decoration: none;
    align-items: center;          
} */

.user-actions {
    display: flex;
    font-size: 20px;  
    gap: 10px;     
    align-items: center; 
   
}

.user{
    display: flex;
    align-items: center; 
}
.user-logged-in {
    display: flex;
    align-items: center; 
}
.panier{
    color:white;
    text-decoration: none;
    align-items: center;
}
/* header {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
.menu{
    display: flex;
    flex-wrap: wrap;  
    background-color:#f6817d;
    color: #fff;
    padding: 25px;
    justify-content: space-around;
    border-radius: 1rem;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:whitesmoke;
    align-items: center;
    z-index: 1;
}
a{
    list-style: none;
    margin: 0 10px;
}
li{
    list-style: none;
    margin: 0 10px;
}



nav a {
    color:white ;
    text-decoration: none;
    gap: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 30px;
    white-space: nowrap;
}

nav li {
    display: inline-block;
    position: relative;
    white-space: nowrap;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f6817d;
}

/* .menu nav ul ul li  {
    margin-left: 0%;
} */

nav ul li:hover > ul {
    display: inherit;
}

.insc {
    
    font-size: 20px;
    color:white;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.categories-menu {
    /* display: none; */
    position: absolute;    
    top: 100%;
    left: 0;
    background-color: #f6817d;
    list-style: none;   
    /* z-index: 6; */
    overflow: hidden;
    max-height: 0;
    transition: max-height 1s ease-out;
    padding-bottom: 30px;
}

.categories-dropdown:hover .categories-menu {
    display: block;
    max-height: 400px;
    animation: slideDown 2s ease-out;
    border-radius: 1rem;
}

@keyframes slideDown {
    from {
        max-height: 0;
    }
    to {
        max-height: 500px; 
    }
}

.categories-menu li {
    color:black ;
}
.categories-dropdown {
    position: relative;
    
    
}
.categories-dropdown:hover:not(:disabled){
    text-decoration: underline;
    color: white;
    
    
}
.categories-menu li {
    display: block;    
    text-align: left;
    padding-top: 30px;
    margin-right: 0px;
}
span {
    color: white;
}

.panier {
    position: relative;
    display: inline-block;
}


.message-panier {
    display: none;
    position: absolute;
    background-color: rgb(58, 116, 183);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap; /* Empêche le texte de passer à la ligne */
    font-size: 14px;
}

.panier:hover .message-panier {
    display: block;
    
}

.insc:hover .message-panier {
    display: block;
    
}

.cart-item-count {
    font-size: 14px;
    color:#FF5252

}

.administrateur a{
    color: white;
    font-size: 18px;
}

.icon {
    display: none;
}

.logo {
    display: flex;
    text-decoration: none;
    align-items: center;
    padding-bottom: 20px;
    padding-right: 10px;
    justify-content: center;
}

.collapse {
    margin-bottom: -450px !important;
}

.burger {
    visibility: hidden;
}


/* **********************--RESPONSIVE--*************************** */
@media (max-width: 320px) {
    .menu {
        visibility: hidden;
      }

    .burger {
        visibility: visible;
    }

    .icon {
        display: block;
        font-size: 30px;
        cursor: pointer;
        color: white;
    } 
    .navlist {
        display: none;
    }
    
}  

/* ***************--iPhone--******************** */

@media (min-width: 320px) and (max-width: 568px) {
    /* Styles pour l'affichage par défaut */
    .menu {
        visibility: hidden;
    }

    .burger {
        visibility: visible;
    }

    .navlist {
        display: none;
    }

    .burger-icon {
        display: block;
    }

    .icon {
        display: block;
        font-size: 15px;
        margin-inline: -20px;
        margin-block: -5px;
        cursor: pointer;
        color: white;
    }

    .navlist ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

      .navlist li {
        display: inline-block;
        margin-right: 20px;
      }
  
}


/* ***************--iPad--******************** */

@media (min-width: 568px) and (max-width: 768px) {
    .menu {
        visibility: hidden;
      }

    .burger {
        visibility: visible;
    }

    .icon {
        display: block;
        font-size: 30px;
        cursor: pointer;
        color: white;
    } 
    .navlist {
        display: none;
    }
    
}  


/* ***************--iPad +++--******************** */


@media (min-width: 768px) and (max-width: 1024px) {
    .menu {
        visibility: hidden;
      }

    .burger {
        visibility: visible;
    }

    .icon {
        display: block;
        font-size: 30px;
        cursor: pointer;
        color: white;
    } 
    .navlist {
        display: none;
    }
    
}  
       
  


    

  
   

