{% extends 'base.html.twig' %}
<a href="/cart/add/{{product.id}}/1">ajouter au panier</a>
<div>
    <h1>Nom du produit</h1>
    <p>Description du produit</p>
    <p>Prix du produit : $19.99</p>
    <button>Ajouter au panier</button>
</div>
